
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>Renovation Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&#038;ver=4.0' rel='stylesheet' type='text/css'>	
	<link rel='stylesheet' id='fira-font-css'  href='http://code.cdn.mozilla.net/fonts/fira.css?ver=4.0' type='text/css' media='all' />
	<script src="js/libs/jquery-1.7.1.min.js"></script>	
	<script src="js/libs/modernizr-2.6.2.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<!-- RevSlider -->
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
	<!-- End RevSlider -->
</head>

<body>
	
	<header>
		<div class="width-container">
			<div id="logo-pro">
				<h1 id="logo">
					<a href="index.html" title="Renovation" rel="home">
						<img src="images/logo.png" alt="Renovation" width="180" />
					</a>
				</h1>
			</div>
		</div>	
		<nav>
			<div class="width-container">
				<div class="primary-left-nav">
					<div class="logo_container"></div>
					<div class="menu-main-navigation-left-container">
						<ul class="sf-menu">
							<li class="menu-item">
								<a href="index.html">Home</a>
							</li>
							<li class="menu-item">
								<a href="page-columns.html" class="sf-with-ul">Pages</a>
								<ul class="sub-menu">
									<li>
										<a href="page-columns.html">Columns</a>
									</li>
									<li>
										<a href="page-faq.html">FAQ</a>
									</li>
									<li>
										<a href="page-maps-videos.html">Maps and Videos</a>
									</li>
									<li>
										<a href="page-shortcodes.html">Shortcodes Examples</a>
									</li>

								</ul>	
							</li>
							<li class="menu-item">
								<a href="services.html">Services</a>
							</li>
							<li class="menu-item">
								<a href="portfolio.html">Portfolio</a>
							</li>						
						</ul>
					</div>
				</div>
				<div class="primary-right-nav">
					<div class="logo_container"></div>
					<div class="menu-main-navigation-right-container">
						<ul class="sf-menu">
							<li class="menu-item">
								<a href="testimonials.html">Testimonials</a>
							</li>
							<li class="menu-item">
								<a href="blog.html">Latest News</a>
							</li>
							<li class="menu-item current-menu-item">
								<a href="contact.html">Contact us</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		<div class="clearfix"></div>
		</nav>
		
		
		
	</header>

	<div id="page-title-background">
		<div id="page-title">
			<div class="width-container">
				<h1>Contact Us</h1>
				<div id="page-title-description">
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<script type="text/javascript">jQuery(document).ready(function($) {   $("#page-title-background").backstretch([ "images/demo/page-title-contact.jpg" ],{ fade: 750, }); }); </script>
	</div>	
	
	<div id="main">
		<div class="width-container bg-sidebar-pro">
			<div id="sidebar-border">
				<div id="content-container">
					<div class="content-container-pro">
						<div class="google-maps-expand">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387144.00758342206!2d-73.9780035!3d40.70563080000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2s!4v1412174533844" frameborder="0" style="border:0"></iframe>
						</div>	
						<p>&nbsp;</p>
						<h2>Quick Contact</h2>
						<form class="progression-contact wpcf7" id="CommentForm" method="post" action="#">
								<fieldset>
									<div>
										<p><input id="ContactName" name="ContactName" class="textInput required" placeholder="Name" /></p>
									</div>
									<div>
										<p><input id="ContactEmail" name="ContactEmail" class="textInput required email" placeholder="E-mail" /></p>
									</div>
									<div>
										<p><input id="ContactPhone" name="ContactPhone" class="textInput digits" value="" placeholder="Phone" /></p>
									</div>
									<div>
										<p><textarea id="ContactComment" name="ContactComment" class="textInput required" rows="10" cols="4" placeholder=" Your Message"></textarea></p>
									</div>
									<div>
										<p><button type="submit" class="progression-contact-submit wpcf7-submit"><span>Send Us Your Message</span></button></p>
									</div>
								</fieldset>
						</form>	
					</div>
				</div>
				<div id="sidebar">
					<div class="sidebar-item widget">
						<h6 class="widget-title">Recent Posts</h6>
							<ul>
								<li>
								<a href="blog-post.html">Hello world!</a>
								</li>
								<li>
								<a href="blog-post.html">Cross Browser Compatible</a>
								</li>
								<li>
								<a href="blog-post.html">Business Tips We Learned</a>
								</li>
								<li>
								<a href="blog-post.html">Gallery Post Example</a>
								</li>
								<li>
								<a href="blog-post.html">Isle of Man Time Trial</a>
								</li>
							</ul>
					<div class="sidebar-divider"></div>
					</div>
					
					<div class="sidebar-item widget pyre_social_media-feat">
						<h5 class="widget-title">Follow us</h5>
						<div class="social-icons-widget-pro">
							<div class="social-ico">
								<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i>
								</a> 
								<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								<a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
								<a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
						<div class="sidebar-divider"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div id="pyre_homepage_media-widget-product-feat-2" class="widget home-widget pyre_homepage_media-product-feat">
		<div class="footer-highlight-home pyre_homepage_media-widget-product-feat-2 light-fonts-pro">
			<div class="footer-highlight-home-border">
				<div class="width-container">
					<h2 class="footer-highlight-widget">WE CAN HELP BUILD YOUR PROJECT!</h2>
					<div class="summary-text-pro">TELL US ABOUT OUR PROJECT</div> 
						<a href="contact.html" class="progression-button">Contact Us<i class="ls-sc-button-icon-right fa fa-envelope-o"></i></a>
				<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="widget-area">
		<div class="width-container footer-4-column">
			<div id="text-2" class="widget widget_text">
				<h6 class="widget-title">Address</h6>
				<div class="textwidget">
					<p>42 Morningview Lane<br> New York, NY 10011</p>
				</div>
			</div>
			<div id="text-3" class="widget widget_text">
				<h6 class="widget-title">Phone</h6>
				<div class="textwidget">646-242-5268</div>
			</div>
			<div id="text-4" class="widget widget_text">
				<h6 class="widget-title">Email</h6>
				<div class="textwidget">contact@renovation.com</div>
			</div>
			<div id="pyre_social_media-widget-feat-2" class="widget pyre_social_media-feat">
				<h6 class="widget-title">Follow us</h6>
				<div class="social-icons-widget-pro">
					<div class="social-ico">
						<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
						<a href="http://instagram.com" target="_blank"><i class="fa fa-linkedin"></i></a>
						<a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<footer>
		<div id="copyright">
			<div class="width-container"> © 2014 All Rights Reserved. Developed by ProgressionStudios</div>
		<div class="clearfix"></div>
		</div>
	</footer>
		
</body>
</html>