<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Renovation Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&#038;ver=4.0' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' id='fira-font-css' href='http://code.cdn.mozilla.net/fonts/fira.css?ver=4.0' type='text/css' media='all'
    />
    <script src="js/libs/jquery-1.7.1.min.js"></script>
    <script src="js/libs/modernizr-2.6.2.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <!-- RevSlider -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
    <!-- End RevSlider -->
</head>

<body>

    <header>
        <div class="width-container">
            <div id="logo-pro">
                <h1 id="logo">
                    <a href="index.html" title="Renovation" rel="home">
						<img src="images/logo.png" alt="Renovation" width="180" />
					</a>
                </h1>
            </div>
        </div>
        <nav>
            <div class="width-container">
                <div class="primary-left-nav">
                    <div class="logo_container"></div>
                    <div class="menu-main-navigation-left-container">
                        <ul class="sf-menu">
                            <li class="menu-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="menu-item current-menu-item">
                                <a href="page-columns.html" class="sf-with-ul">Pages</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="page-columns.html">Columns</a>
                                    </li>
                                    <li>
                                        <a href="page-faq.html">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="page-maps-videos.html">Maps and Videos</a>
                                    </li>
                                    <li>
                                        <a href="page-shortcodes.html">Shortcodes Examples</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="services.html">Services</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio.html">Portfolio</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="primary-right-nav">
                    <div class="logo_container"></div>
                    <div class="menu-main-navigation-right-container">
                        <ul class="sf-menu">
                            <li class="menu-item">
                                <a href="testimonials.html">Testimonials</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog.html">Latest News</a>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </nav>

    </header>

    <div id="page-title-background">
        <div id="page-title">
            <div class="width-container">
                <h1>Frequently Asked Questions</h1>
                <div class="clearfix"></div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function ($) { $("#page-title-background").backstretch(["images/demo/page-title.jpg"], { fade: 750, }); });
        </script>
    </div>

    <div id="main">
        <div class="width-container">
            <div id="full-width-progression">
                <div id="content-container">
                    <div class="content-container-pro">
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">How do I pay for items on the Marketplaces?</h3>
                            <div class="ls-sc-toggle-container">The Envato Marketplaces offer two options to purchase files; Buy Now for convenient one-off purchases,
                                and Prepaid Credits for multiple purchases to save you money. All purchases are made in U.S.
                                Dollars. All major credits cards are accepted via Paypal and Moneybookers.</div>
                        </div>
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">Why doesn't my download manager work?</h3>
                            <div class="ls-sc-toggle-container">Envato does not recommend the use of download managers when downloading your purchased files
                                from the Marketplace. Unfortunately, certain aspects of our system are currently incompatible
                                with the way download managers usually access files, meaning your download may fail when
                                using these third party programs. We recommend use of your browsers in-built download system.</div>
                        </div>
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">How many times can I download a purchased item?</h3>
                            <div class="ls-sc-toggle-container">A file can not be downloaded more than 20 times in 24 hours.</div>
                        </div>
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">Where can I access Invoices and Statements for my account?</h3>
                            <div class="ls-sc-toggle-container">Invoices for all of your Marketplace credit deposits and ‘buy now’ purchases can be viewed by
                                following these steps:</div>
                        </div>
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">Where can I find my Purchase Code?</h3>
                            <div class="ls-sc-toggle-container">After you’ve completed a purchase, the download links for the item are automatically added to
                                your Marketplace account’s download area. The download links you receive will include a Main
                                File or Installation package and also the License Certificate which includes your Purchase
                                Code.</div>
                        </div>
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">Where can I download my purchase?</h3>
                            <div class="ls-sc-toggle-container">After you have completed your purchase you will be redirected to your Marketplace account download
                                page. There you can download the item you have just purchased, or any other item previously
                                purchased that is still available on the Marketplaces. You should download your item immediately
                                after purchase, as we cannot guarantee that your purchased item will remain available on
                                the Marketplaces.</div>
                        </div>
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">Do I need to make separate deposits and accounts for each Marketplace?</h3>
                            <div class="ls-sc-toggle-container">No you do not. If, for example, you have signed up to ActiveDen but want to buy an item on ThemeForest,
                                there is no need for you to create a new account.
                                <p></p>
                                <p>Your login will work across all of the Marketplaces. In addition all funds in your account
                                    are also available for use across all of the Marketplace sites.</p>
                            </div>
                        </div>
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">Why is there a minimum $20 deposit on the Marketplaces?</h3>
                            <div class="ls-sc-toggle-container">The Marketplaces only accept deposits in $10 increments, with a minimum of $20 and a maximum
                                of $100. Some of the content on the Marketplaces sells for as low as $1. We are, however,
                                unable to allow deposits under $20 as the transaction fees for these deposits mean that they
                                are currently not sustainable for the Marketplaces.</div>
                        </div>
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">I have purchased an item twice by mistake, what can I do?</h3>
                            <div class="ls-sc-toggle-container">Mistakes happen to the best of us! If you have accidentally purchased an item twice, please contact
                                support with the details of your double purchase. We will then check our server logs for
                                verification and credit your account as appropriate.</div>
                        </div>
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">Why do prepaid credits expire after one year unless I renew them?</h3>
                            <div class="ls-sc-toggle-container">Prepaid credits expire after 12 months for accounting reasons. However, at any time, expired
                                deposits are able to be reinstated by contacting support. We are always happy to extend the
                                validity of a deposit. This ensures that anyone who still wishes to use their deposit is
                                able to do so, regardless of its expiration date.</div>
                        </div>
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">Can I purchase items if I am not a member?</h3>
                            <div class="ls-sc-toggle-container">You must have an account to purchase items on the Envato Marketplaces. Signing up for an account
                                is free and easy. Simply go to your chosen Marketplace’s home page and select “Sign Up” in
                                order to become a member.</div>
                        </div>
                        <div class="ls-sc-toggle">
                            <h3 class="ls-sc-toggle-trigger">How do I pay for items on the Marketplaces?</h3>
                            <div class="ls-sc-toggle-container">The Envato Marketplaces offer two options to purchase files; Buy Now for convenient one-off purchases,
                                and Prepaid Credits for multiple purchases to save you money. All purchases are made in U.S.
                                Dollars. All major credits cards are accepted via Paypal and Moneybookers.</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- close .width-container -->

        <div class="clearfix"></div>
    </div>

    <div id="pyre_homepage_media-widget-product-feat-2" class="widget home-widget pyre_homepage_media-product-feat">
        <div class="footer-highlight-home pyre_homepage_media-widget-product-feat-2 light-fonts-pro">
            <div class="footer-highlight-home-border">
                <div class="width-container">
                    <h2 class="footer-highlight-widget">WE CAN HELP BUILD YOUR PROJECT!</h2>
                    <div class="summary-text-pro">TELL US ABOUT OUR PROJECT</div>
                    <a href="contact.html" class="progression-button">Contact Us<i class="ls-sc-button-icon-right fa fa-envelope-o"></i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="widget-area">
        <div class="width-container footer-4-column">
            <div id="text-2" class="widget widget_text">
                <h6 class="widget-title">Address</h6>
                <div class="textwidget">
                    <p>42 Morningview Lane<br> New York, NY 10011</p>
                </div>
            </div>
            <div id="text-3" class="widget widget_text">
                <h6 class="widget-title">Phone</h6>
                <div class="textwidget">646-242-5268</div>
            </div>
            <div id="text-4" class="widget widget_text">
                <h6 class="widget-title">Email</h6>
                <div class="textwidget">contact@renovation.com</div>
            </div>
            <div id="pyre_social_media-widget-feat-2" class="widget pyre_social_media-feat">
                <h6 class="widget-title">Follow us</h6>
                <div class="social-icons-widget-pro">
                    <div class="social-ico">
                        <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="http://instagram.com" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <footer>
        <div id="copyright">
            <div class="width-container"> © 2014 All Rights Reserved. Developed by ProgressionStudios</div>
            <div class="clearfix"></div>
        </div>
    </footer>

</body>

</html>