<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Renovation Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&#038;ver=4.0' rel='stylesheet' type='text/css'>
    <script src="js/libs/jquery-1.7.1.min.js"></script>
    <script src="js/libs/modernizr-2.6.2.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <!-- RevSlider -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
    <!-- End RevSlider -->
</head>

<body>
    <header>
        <div class="width-container">
            <div id="logo-pro">
                <h1 id="logo">
                    <a href="index.html" title="Renovation" rel="home">
<img src="images/logo.png" alt="Renovation" width="180" />
</a>
                </h1>
            </div>
        </div>
        <nav>
            <div class="width-container">
                <div class="primary-left-nav">
                    <div class="logo_container"></div>
                    <div class="menu-main-navigation-left-container">
                        <ul class="sf-menu">
                            <li class="menu-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="menu-item current-menu-item">
                                <a href="page-columns.html" class="sf-with-ul">Pages</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="page-columns.html">Columns</a>
                                    </li>
                                    <li>
                                        <a href="page-faq.html">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="page-maps-videos.html">Maps and Videos</a>
                                    </li>
                                    <li>
                                        <a href="page-shortcodes.html">Shortcodes Examples</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="services.html">Services</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio.html">Portfolio</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="primary-right-nav">
                    <div class="logo_container"></div>
                    <div class="menu-main-navigation-right-container">
                        <ul class="sf-menu">
                            <li class="menu-item">
                                <a href="testimonials.html">Testimonials</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog.html">Latest News</a>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </nav>
    </header>
    <div id="page-title-background">
        <div id="page-title">
            <div class="width-container">
                <h1>Page Columns</h1>
                <div class="clearfix"></div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function ($) { $("#page-title-background").backstretch(["images/demo/page-title.jpg"], { fade: 750, }); });
        </script>
    </div>
    <div id="main">
        <div class="width-container">
            <div id="full-width-progression">
                <div id="content-container-full-width">
                    <div class="content-container-pro">
                        <h4>2 Columns</h4>
                        <div class="ls-sc-grid_6 alpha">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh. Proin eget egestas quam, ac aliquet tellus. Aenean tristique, velit
                            eu posuere ultrices, libero elit mattis erat, ac blandit leo est vitae purus. Aenean vel commodo
                            felis, quis faucibus tortor.</div>
                        <div class="ls-sc-grid_6 omega">Vestibulum eu diam in quam ultricies tincidunt nec et quam. Etiam eget tincidunt lectus. Fusce magna
                            orci, egestas eget hendrerit ac, mattis ut odio. Aliquam luctus lacus eget tellus euismod, nec
                            rhoncus risus pulvinar. Etiam tellus nibh, iaculis rhoncus tempus vel, suscipit in urna. Nunc
                            massa turpis, ornare at ultrices et.</div>
                        <div class="clear"></div>

                        <p>&nbsp;</p>
                        <h4>3 Columns</h4>
                        <div class="ls-sc-grid_4 alpha">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh. Proin eget egestas quam, ac aliquet tellus. Aenean tristique, velit
                            eu posuere ultrices.</div>
                        <div class="ls-sc-grid_4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh. Proin eget egestas quam, ac aliquet tellus. Aenean tristique, velit
                            eu posuere ultrices.</div>
                        <div class="ls-sc-grid_4 omega">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh. Proin eget egestas quam, ac aliquet tellus. Aenean tristique, velit
                            eu posuere ultrices.</div>
                        <div class="clear"></div>

                        <p>&nbsp;</p>
                        <div class="ls-sc-grid_8 alpha">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh. Proin eget egestas quam, ac aliquet tellus. Aenean tristique, velit
                            eu posuere ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi
                            tellus. Vestibulum a feugiat neque, vitae porttitor nibh. Proin eget egestas quam, ac aliquet
                            tellus. Aenean tristique, velit eu posuere ultrices.</div>
                        <div class="ls-sc-grid_4 omega">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh. Proin eget egestas quam, ac aliquet tellus. Aenean tristique, velit
                            eu posuere ultrices.</div>
                        <div class="clear"></div>

                        <p>&nbsp;</p>
                        <h4>4 Columns</h4>
                        <div class="ls-sc-grid_3 alpha">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh.</div>
                        <div class="ls-sc-grid_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh.</div>
                        <div class="ls-sc-grid_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh.</div>
                        <div class="ls-sc-grid_3 omega">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh.</div>
                        <div class="clear"></div>
                        <p>&nbsp;</p>
                        <div class="ls-sc-grid_3 alpha">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh.</div>
                        <div class="ls-sc-grid_9 omega">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat
                            neque, vitae porttitor nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                            id nisi tellus. Vestibulum a feugiat neque, vitae porttitor nibh. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Integer id nisi tellus. Vestibulum a feugiat neque, vitae porttitor
                            nibh.
                        </div>
                        <div class="clear"></div>

                        <p>&nbsp;</p>
                        <h4>6 Columns</h4>
                        <div class="ls-sc-grid_2 alpha">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus.</div>
                        <div class="ls-sc-grid_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus.</div>
                        <div class="ls-sc-grid_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus.</div>
                        <div class="ls-sc-grid_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus.</div>
                        <div class="ls-sc-grid_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus.</div>
                        <div class="ls-sc-grid_2 omega">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus.</div>
                        <div class="clear"></div>
                        <p>&nbsp;</p>
                        <div class="ls-sc-grid_10 alpha">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi tellus. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit. Integer id nisi tellus. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Integer id nisi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer id nisi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id nisi
                            tellus.
                        </div>
                        <div class="ls-sc-grid_2 omega">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        <div class="clear"></div>
                    </div>
                    <!-- close .content-container-pro -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- close .width-container -->

        <div class="clearfix"></div>
    </div>
    <div id="pyre_homepage_media-widget-product-feat-2" class="widget home-widget pyre_homepage_media-product-feat">
        <div class="footer-highlight-home pyre_homepage_media-widget-product-feat-2 light-fonts-pro">
            <div class="footer-highlight-home-border">
                <div class="width-container">
                    <h2 class="footer-highlight-widget">WE CAN HELP BUILD YOUR PROJECT!</h2>
                    <div class="summary-text-pro">TELL US ABOUT OUR PROJECT</div>
                    <a href="contact.html" class="progression-button">Contact Us<i class="ls-sc-button-icon-right fa fa-envelope-o"></i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="widget-area">
        <div class="width-container footer-4-column">
            <div id="text-2" class="widget widget_text">
                <h6 class="widget-title">Address</h6>
                <div class="textwidget">
                    <p>42 Morningview Lane<br> New York, NY 10011</p>
                </div>
            </div>
            <div id="text-3" class="widget widget_text">
                <h6 class="widget-title">Phone</h6>
                <div class="textwidget">646-242-5268</div>
            </div>
            <div id="text-4" class="widget widget_text">
                <h6 class="widget-title">Email</h6>
                <div class="textwidget">contact@renovation.com</div>
            </div>
            <div id="pyre_social_media-widget-feat-2" class="widget pyre_social_media-feat">
                <h6 class="widget-title">Follow us</h6>
                <div class="social-icons-widget-pro">
                    <div class="social-ico">
                        <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="http://instagram.com" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <footer>
        <div id="copyright">
            <div class="width-container"> © 2014 All Rights Reserved. Developed by ProgressionStudios</div>
            <div class="clearfix"></div>
        </div>
    </footer>
</body>

</html>