<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Renovation Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&#038;ver=4.0' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' id='fira-font-css' href='http://code.cdn.mozilla.net/fonts/fira.css?ver=4.0' type='text/css' media='all'
    />
    <script src="js/libs/jquery-1.7.1.min.js"></script>
    <script src="js/libs/modernizr-2.6.2.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <!-- RevSlider -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
    <!-- End RevSlider -->
</head>

<body>

    <header>
        <div class="width-container">
            <div id="logo-pro">
                <h1 id="logo">
                    <a href="index.html" title="Renovation" rel="home">
						<img src="images/logo.png" alt="Renovation" width="180" />
					</a>
                </h1>
            </div>
        </div>
        <nav>
            <div class="width-container">
                <div class="primary-left-nav">
                    <div class="logo_container"></div>
                    <div class="menu-main-navigation-left-container">
                        <ul class="sf-menu">
                            <li class="menu-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="menu-item current-menu-item">
                                <a href="page-columns.html" class="sf-with-ul">Pages</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="page-columns.html">Columns</a>
                                    </li>
                                    <li>
                                        <a href="page-faq.html">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="page-maps-videos.html">Maps and Videos</a>
                                    </li>
                                    <li>
                                        <a href="page-shortcodes.html">Shortcodes Examples</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="services.html">Services</a>
                            </li>
                            <li class="menu-item">
                                <a href="portfolio.html">Portfolio</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="primary-right-nav">
                    <div class="logo_container"></div>
                    <div class="menu-main-navigation-right-container">
                        <ul class="sf-menu">
                            <li class="menu-item">
                                <a href="testimonials.html">Testimonials</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog.html">Latest News</a>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </nav>

    </header>

    <div id="page-title-background">
        <div id="page-title">
            <div class="width-container">
                <h1>Shortcodes</h1>
                <div class="clearfix"></div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function ($) { $("#page-title-background").backstretch(["images/demo/page-title.jpg"], { fade: 750, }); });
        </script>
    </div>

    <div id="main">
        <div class="width-container">
            <div id="full-width-progression">
                <div id="content-container">
                    <div class="content-container-pro">
                        <h4>Buttons</h4>

                        <a href="http://progressionstudios.com" class="ls-sc-button default" target="_self" title="" rel=""><span class="ls-sc-button-inner">Default Button<i class="ls-sc-button-icon-right fa fa-home"></i></span></a>

                        <p></p>

                        <a href="http://progressionstudios.com" class="ls-sc-button secondary" target="_self" title="" rel=""><span class="ls-sc-button-inner">Secondary Button<i class="ls-sc-button-icon-right fa fa-home"></i></span></a>


                        <p><strong>Additional Colors</strong>: default, secondary, black, green, blue, red, yellow, pink, purple<br>                            <strong>Additional Icons</strong>: View all available icons here <a href="http://fontawesome.io/icons/"
                                target="_blank">http://fontawesome.io/icons/</a></p>

                        <hr class="ls-sc-divider dotted grey">

                        <h4>Toggle</h4>
                        <div class="ls-sc-toggle ">
                            <h3 class="ls-sc-toggle-trigger">Toggle Title</h3>
                            <div class="ls-sc-toggle-container">Toggle text</div>
                        </div>

                        <hr class="ls-sc-divider dotted grey">

                        <h4>Tabs</h4>
                        <div class="ls-sc-tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
                            <ul class="ui-tabs-nav ls-sc-clearfix ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                                <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="ls-sc-tab-tab-1"
                                    aria-labelledby="ui-id-1" aria-selected="true">
                                    <a href="#ls-sc-tab-tab-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Tab #1</a>
                                </li>
                                <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="ls-sc-tab-tab-2" aria-labelledby="ui-id-2"
                                    aria-selected="false">
                                    <a href="#ls-sc-tab-tab-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Tab #2</a>
                                </li>
                            </ul>
                            <div id="ls-sc-tab-tab-1" class="tab-content  ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-1"
                                role="tabpanel" aria-expanded="true" aria-hidden="false">Tab 1 text</div>
                            <div id="ls-sc-tab-tab-2" class="tab-content  ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-2"
                                role="tabpanel" aria-expanded="false" aria-hidden="true">Tab 2 text</div>
                        </div>

                        <hr class="ls-sc-divider dotted grey">


                        <h4>Highlights</h4>
                        <p>Lorem ipsum dolor sit amet, <span class="ls-sc-highlight green ">consectetur adipiscing elit</span>.
                            Cras rhoncus, diam quis luctus pellentesque, odio est condimentum leo, nec accumsan orci augue
                            commodo enim. <span class="ls-sc-highlight red ">Proin cursus sollicitudin magna eget ultricies</span>.
                            Fusce auctor mi eget libero commodo, id dictum urna imperdiet. Cras pharetra, mauris tempus condimentum
                            ultricies, ligula leo facilisis leo, quis facilisis ante quam vitae lectus. <span class="ls-sc-highlight yellow ">Nam mollis, est sit amet euismod facilisis, orci leo sollicitudin leo, eu hendrerit elit arcu eget tellus. Etiam molestie eu nulla quis tincidunt</span>.
                            Morbi mattis odio id orci adipiscing, id suscipit magna rutrum. <span class="ls-sc-highlight purple ">Curabitur tempus feugiat ligula</span>,
                            nec posuere nunc tincidunt sed. Vivamus mollis elit neque, sed blandit sapien malesuada pretium.
                            <span class="ls-sc-highlight pink ">Phasellus lacinia magna</span> id dolor tempor congue. Nulla
                            ut ligula venenatis, faucibus ante sit amet, cursus quam. Nullam eget mollis tortor, a aliquet
                            eros. <span class="ls-sc-highlight blue ">Donec aliquam sem eu ante hendrerit, non molestie urna fermentum</span>.</p>

                        <p><strong>Available colors</strong>: black, green, blue, red, yellow, pink, purple</p>

                        <hr class="ls-sc-divider dotted grey ">

                        <h4>Dividers</h4>

                        <p>Nunc iaculis molestie nibh vel pharetra. In vel leo sed libero tincidunt commodo. Nulla vulputate
                            aliquam enim, at blandit odio porta sed. Praesent pulvinar lorem dui, ac sagittis orci commodo
                            at. Pellentesque congue tellus ut enim varius, vitae mattis enim blandit. Nulla facilisi. In
                            auctor, nisi vitae mollis congue, dui ipsum cursus nulla, eu commodo elit turpis vel velit. Proin
                            vel pellentesque sem. Sed a posuere ligula. Pellentesque non felis urna. Nulla facilisi. Proin
                            nec vulputate tellus. Duis dapibus vitae lorem id elementum.</p>

                        <hr class="ls-sc-divider dashed yellow ">

                        <p>Nunc iaculis molestie nibh vel pharetra. In vel leo sed libero tincidunt commodo. Nulla vulputate
                            aliquam enim, at blandit odio porta sed. Praesent pulvinar lorem dui, ac sagittis orci commodo
                            at. Pellentesque congue tellus ut enim varius, vitae mattis enim blandit. Nulla facilisi. In
                            auctor, nisi vitae mollis congue, dui ipsum cursus nulla, eu commodo elit turpis vel velit. Proin
                            vel pellentesque sem. Sed a posuere ligula. Pellentesque non felis urna. Nulla facilisi. Proin
                            nec vulputate tellus. Duis dapibus vitae lorem id elementum.</p>

                        <hr class="ls-sc-divider double green ">

                        <p>Nunc iaculis molestie nibh vel pharetra. In vel leo sed libero tincidunt commodo. Nulla vulputate
                            aliquam enim, at blandit odio porta sed. Praesent pulvinar lorem dui, ac sagittis orci commodo
                            at. Pellentesque congue tellus ut enim varius, vitae mattis enim blandit. Nulla facilisi. In
                            auctor, nisi vitae mollis congue, dui ipsum cursus nulla, eu commodo elit turpis vel velit. Proin
                            vel pellentesque sem. Sed a posuere ligula. Pellentesque non felis urna. Nulla facilisi. Proin
                            nec vulputate tellus. Duis dapibus vitae lorem id elementum.</p>

                        <hr class="ls-sc-divider solid blue">
                        <p><strong>Available types</strong>: dotted, solid, dashed, double<br> <strong>Available colors</strong>:
                            grey, black, green, blue, red, yellow, pink, purple</p>


                        <hr class="ls-sc-divider dotted grey ">

                        <h4>Google Maps</h4>
                        <div class="google-maps-expand">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387144.00758342206!2d-73.9780035!3d40.70563080000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2s!4v1412174533844"
                                frameborder="0" style="border:0"></iframe>
                        </div>

                        <hr class="ls-sc-divider dotted grey ">

                        <h4>Headings</h4>

                        <h1>Heading 1</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacus orci, convallis cursus rutrum
                            cursus, facilisis convallis ante. Nunc non imperdiet purus.</p>
                        <h2>Heading 2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacus orci, convallis cursus rutrum
                            cursus, facilisis convallis ante. Nunc non imperdiet purus.</p>
                        <h3>Heading 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacus orci, convallis cursus rutrum
                            cursus, facilisis convallis ante. Nunc non imperdiet purus.</p>
                        <h4>Heading 4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacus orci, convallis cursus rutrum
                            cursus, facilisis convallis ante. Nunc non imperdiet purus.</p>
                        <h5>Heading 5</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacus orci, convallis cursus rutrum
                            cursus, facilisis convallis ante. Nunc non imperdiet purus.</p>
                        <h6>Heading 6</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacus orci, convallis cursus rutrum
                            cursus, facilisis convallis ante. Nunc non imperdiet purus.</p>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- close .width-container -->

        <div class="clearfix"></div>
    </div>


    <div id="pyre_homepage_media-widget-product-feat-2" class="widget home-widget pyre_homepage_media-product-feat">
        <div class="footer-highlight-home pyre_homepage_media-widget-product-feat-2 light-fonts-pro">
            <div class="footer-highlight-home-border">
                <div class="width-container">
                    <h2 class="footer-highlight-widget">WE CAN HELP BUILD YOUR PROJECT!</h2>
                    <div class="summary-text-pro">TELL US ABOUT OUR PROJECT</div>
                    <a href="contact.html" class="progression-button">Contact Us<i class="ls-sc-button-icon-right fa fa-envelope-o"></i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="widget-area">
        <div class="width-container footer-4-column">
            <div id="text-2" class="widget widget_text">
                <h6 class="widget-title">Address</h6>
                <div class="textwidget">
                    <p>42 Morningview Lane<br> New York, NY 10011</p>
                </div>
            </div>
            <div id="text-3" class="widget widget_text">
                <h6 class="widget-title">Phone</h6>
                <div class="textwidget">646-242-5268</div>
            </div>
            <div id="text-4" class="widget widget_text">
                <h6 class="widget-title">Email</h6>
                <div class="textwidget">contact@renovation.com</div>
            </div>
            <div id="pyre_social_media-widget-feat-2" class="widget pyre_social_media-feat">
                <h6 class="widget-title">Follow us</h6>
                <div class="social-icons-widget-pro">
                    <div class="social-ico">
                        <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="http://instagram.com" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <footer>
        <div id="copyright">
            <div class="width-container"> © 2014 All Rights Reserved. Developed by ProgressionStudios</div>
            <div class="clearfix"></div>
        </div>
    </footer>

</body>

</html>