<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Renovation Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&#038;ver=4.0' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' id='fira-font-css' href='http://code.cdn.mozilla.net/fonts/fira.css?ver=4.0' type='text/css' media='all'
    />
    <script src="js/libs/jquery-1.7.1.min.js"></script>
    <script src="js/libs/modernizr-2.6.2.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <!-- RevSlider -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
    <!-- End RevSlider -->
</head>

<body>

    <header>
        <div class="width-container">
            <div id="logo-pro">
                <h1 id="logo">
                    <a href="index.html" title="Renovation" rel="home">
						<img src="images/logo.png" alt="Renovation" width="180" />
					</a>
                </h1>
            </div>
        </div>
        <nav>
            <div class="width-container">
                <div class="primary-left-nav">
                    <div class="logo_container"></div>
                    <div class="menu-main-navigation-left-container">
                        <ul class="sf-menu">
                            <li class="menu-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="menu-item">
                                <a href="page-columns.html" class="sf-with-ul">Pages</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="page-columns.html">Columns</a>
                                    </li>
                                    <li>
                                        <a href="page-faq.html">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="page-maps-videos.html">Maps and Videos</a>
                                    </li>
                                    <li>
                                        <a href="page-shortcodes.html">Shortcodes Examples</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="services.html">Services</a>
                            </li>
                            <li class="menu-item current-menu-item">
                                <a href="portfolio.html">Portfolio</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="primary-right-nav">
                    <div class="logo_container"></div>
                    <div class="menu-main-navigation-right-container">
                        <ul class="sf-menu">
                            <li class="menu-item">
                                <a href="testimonials.html">Testimonials</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog.html">Latest News</a>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </nav>



    </header>

    <div id="page-title-background">
        <div id="page-title">
            <div class="width-container">
                <h1>Portfolio</h1>
                <div id="page-title-description">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                        blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                </div>
                <div class="clearfix"></div>
                <ul id="portfolio-sub-nav">
                    <li class="cat-item current-cat">
                        <a href="portfolio.html">All</a>
                    </li>
                    <li class="cat-item">
                        <a href="portfolio-commercial.html" title="Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.">Commercial</a>
                    </li>
                    <li class="cat-item">
                        <a href="portfolio-kitchen-remodeling.html" title="Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.">Kitchen Remodeling</a>
                    </li>
                    <li class="cat-item">
                        <a href="portfolio-residential.html" title="Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.">Residential</a>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function ($) { $("#page-title-background").backstretch(["images/demo/page-title.jpg"], { fade: 750, }); });
        </script>
    </div>

    <div id="main">
        <div class="width-container">
            <div id="portfolio-index">
                <div class="grid3column-progression ">
                    <article>
                        <div class="portfolio-index-pro">
                            <div class="featured-image-portfolio">
                                <a href="single-portfolio-post.html">
									<img width="600" height="338" src="images/demo/shutterstock_110160008-600x338.jpg" alt="shutterstock_110160008">
								</a>
                            </div>
                            <div class="portfolio-index-text">
                                <div class="portfolio-index-padding">
                                    <h4 class="portfolio-index-title">
                                        <a href="single-portfolio-post.html"> Commercial Building </a>
                                    </h4>
                                    <div class="meta-progression-port">
                                        <ul>
                                            <li>
                                                <a href="portfolio-commercial.html">Commercial</a>
                                                <i class="fa fa-asterisk"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>

                <div class="grid3column-progression">
                    <article>
                        <div class="portfolio-index-pro">
                            <div class="featured-image-portfolio">
                                <a href="single-portfolio-post.html">
									<img width="600" height="338" src="images/demo/shutterstock_82080655-600x338.jpg" alt="shutterstock_110160008">
								</a>
                            </div>
                            <div class="portfolio-index-text">
                                <div class="portfolio-index-padding">
                                    <h4 class="portfolio-index-title">
                                        <a href="single-portfolio-post.html"> Commercial Portfolio Example </a>
                                    </h4>
                                    <div class="meta-progression-port">
                                        <ul>
                                            <li>
                                                <a href="portfolio-commercial.html">Commercial</a>
                                                <i class="fa fa-asterisk"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>

                <div class="grid3column-progression lastcolumn-progression">
                    <article>
                        <div class="portfolio-index-pro">
                            <div class="featured-image-portfolio">
                                <div class="flexslider gallery-progression">
                                    <ul class="slides">
                                        <li class="flex-active-slide">
                                            <a href="single-portfolio-post.html">
												<img src="images/demo/photodune-2079559-interior-of-modern-house-kitchen-m-600x338.jpg" alt="Interior of modern house kitchen" draggable="false">
											</a>
                                        </li>
                                        <li>
                                            <a href="single-portfolio-post.html">
												<img src="images/demo/photodune-2079614-interior-of-modern-house-kitchen-m-600x338.jpg" alt="photodune-2079614-interior-of-modern-house-kitchen-m" draggable="false">
											</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-index-text">
                                <div class="portfolio-index-padding">
                                    <h4 class="portfolio-index-title">
                                        <a href="single-portfolio-post.html"> Kitchen Gallery Example </a>
                                    </h4>
                                    <div class="meta-progression-port">
                                        <ul>
                                            <li>
                                                <a href="portfolio-kitchen-remodeling.html">Kitchen Remodeling</a>
                                                <i class="fa fa-asterisk"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>
                <div class="clearfix"></div>

                <div class="grid3column-progression ">
                    <article>
                        <div class="portfolio-index-pro">
                            <div class="featured-image-portfolio">
                                <a href="single-portfolio-post.html">
									<img width="600" height="338" src="images/demo/kitchen-1-600x338.jpg" alt="shutterstock_110160008">
								</a>
                            </div>
                            <div class="portfolio-index-text">
                                <div class="portfolio-index-padding">
                                    <h4 class="portfolio-index-title">
                                        <a href="single-portfolio-post.html"> Modern Kitchen </a>
                                    </h4>
                                    <div class="meta-progression-port">
                                        <ul>
                                            <li>
                                                <a href="portfolio-kitchen-remodeling.html">Kitchen Remodeling</a>
                                                <i class="fa fa-asterisk"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>

                <div class="grid3column-progression">
                    <article>
                        <div class="portfolio-index-pro">
                            <div class="featured-image-portfolio">
                                <a href="single-portfolio-post.html">
									<img width="600" height="338" src="images/demo/photodune-283468-modern-home-in-rural-setting-m-600x338.jpg" alt="photodune-283468-modern-home-in-rural-setting-m-600x338.jpg">
								</a>
                            </div>
                            <div class="portfolio-index-text">
                                <div class="portfolio-index-padding">
                                    <h4 class="portfolio-index-title">
                                        <a href="single-portfolio-post.html"> Swardson Residence </a>
                                    </h4>
                                    <div class="meta-progression-port">
                                        <ul>
                                            <li>
                                                <a href="portfolio-residential.html">Residential</a>
                                                <i class="fa fa-asterisk"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>

                <div class="grid3column-progression lastcolumn-progression">
                    <article>
                        <div class="portfolio-index-pro">
                            <div class="featured-image-portfolio">
                                <a href="single-portfolio-post.html">
									<img width="600" height="338" src="images/demo/photodune-768255-suburban-executive-home-m-600x338.jpg" alt="photodune-768255-suburban-executive-home-m-600x338.jpg">
								</a>
                            </div>
                            <div class="portfolio-index-text">
                                <div class="portfolio-index-padding">
                                    <h4 class="portfolio-index-title">
                                        <a href="single-portfolio-post.html"> Garcia Residence </a>
                                    </h4>
                                    <div class="meta-progression-port">
                                        <ul>
                                            <li>
                                                <a href="portfolio-residential.html">Residential</a>
                                                <i class="fa fa-asterisk"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>

                <div class="clearfix"></div>

                <div class="grid3column-progression ">
                    <article>
                        <div class="portfolio-index-pro">
                            <div class="featured-image-portfolio">
                                <a href="single-portfolio-post.html">
									<img width="600" height="338" src="images/demo/photodune-2847249-suburban-homes-m-600x338.jpg" alt="photodune-2847249-suburban-homes-m-600x338.jpg">
								</a>
                            </div>
                            <div class="portfolio-index-text">
                                <div class="portfolio-index-padding">
                                    <h4 class="portfolio-index-title">
                                        <a href="single-portfolio-post.html"> Campbell’s Residence </a>
                                    </h4>
                                    <div class="meta-progression-port">
                                        <ul>
                                            <li>
                                                <a href="portfolio-residential.html">Residential</a>
                                                <i class="fa fa-asterisk"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>

                <div class="grid3column-progression">
                    <article>
                        <div class="portfolio-index-pro">
                            <div class="featured-image-portfolio">
                                <a href="single-portfolio-post.html">
									<img width="600" height="338" src="images/demo/photodune-1359286-country-house-m-600x338.jpg" alt="photodune-1359286-country-house-m-600x338.jpg">
								</a>
                            </div>
                            <div class="portfolio-index-text">
                                <div class="portfolio-index-padding">
                                    <h4 class="portfolio-index-title">
                                        <a href="single-portfolio-post.html"> Brown’s Residence </a>
                                    </h4>
                                    <div class="meta-progression-port">
                                        <ul>
                                            <li>
                                                <a href="portfolio-residential.html">Residential</a>
                                                <i class="fa fa-asterisk"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>

                <div class="grid3column-progression lastcolumn-progression">
                    <article>
                        <div class="portfolio-index-pro">
                            <div class="featured-image-portfolio">
                                <a href="single-portfolio-post.html">
									<img width="600" height="338" src="images/demo/photodune-1207257-american-home-m-600x338.jpg" alt="photodune-1207257-american-home-m-600x338.jpg">
								</a>
                            </div>
                            <div class="portfolio-index-text">
                                <div class="portfolio-index-padding">
                                    <h4 class="portfolio-index-title">
                                        <a href="single-portfolio-post.html"> Jones Residence </a>
                                    </h4>
                                    <div class="meta-progression-port">
                                        <ul>
                                            <li>
                                                <a href="portfolio-residential.html">Residential</a>
                                                <i class="fa fa-asterisk"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- close .width-container -->
        <div class="clearfix"></div>
    </div>

    <div id="pyre_homepage_media-widget-product-feat-2" class="widget home-widget pyre_homepage_media-product-feat">
        <div class="footer-highlight-home pyre_homepage_media-widget-product-feat-2 light-fonts-pro">
            <div class="footer-highlight-home-border">
                <div class="width-container">
                    <h2 class="footer-highlight-widget">WE CAN HELP BUILD YOUR PROJECT!</h2>
                    <div class="summary-text-pro">TELL US ABOUT OUR PROJECT</div>
                    <a href="contact.html" class="progression-button">Contact Us<i class="ls-sc-button-icon-right fa fa-envelope-o"></i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="widget-area">
        <div class="width-container footer-4-column">
            <div id="text-2" class="widget widget_text">
                <h6 class="widget-title">Address</h6>
                <div class="textwidget">
                    <p>42 Morningview Lane<br> New York, NY 10011</p>
                </div>
            </div>
            <div id="text-3" class="widget widget_text">
                <h6 class="widget-title">Phone</h6>
                <div class="textwidget">646-242-5268</div>
            </div>
            <div id="text-4" class="widget widget_text">
                <h6 class="widget-title">Email</h6>
                <div class="textwidget">contact@renovation.com</div>
            </div>
            <div id="pyre_social_media-widget-feat-2" class="widget pyre_social_media-feat">
                <h6 class="widget-title">Follow us</h6>
                <div class="social-icons-widget-pro">
                    <div class="social-ico">
                        <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="http://instagram.com" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <footer>
        <div id="copyright">
            <div class="width-container"> © 2014 All Rights Reserved. Developed by ProgressionStudios</div>
            <div class="clearfix"></div>
        </div>
    </footer>

</body>

</html>